---
---

$primary: #{{ site.color.primary }};
$secondary: #{{ site.color.secondary }};
$secondaryDark: #{{ site.color.secondary-dark }};

{% include css/bootstrap.min.css %}
{% include css/agency.css %}

*{
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

header{
	min-height: 100%;
	.intro-heading{
		color: $primary;
	}
}

.navbar-static.navbar{
  background: #222;
  margin-bottom:0;
  border-radius:0;
}

.breadcrumbs{
  border-radius:0;
}

.article-wrap{
  color: #777;
}

.news-posts{
  article{
    border-bottom: 1px solid #ccc;
  }
}

.news-feed{
  iframe{
    width:100%;
  }
}

#contact{
  background-attachment: fixed;
}
