---
---

$primary: #{{ site.color.primary }};
$secondary: #{{ site.color.secondary }};
$secondaryDark: #{{ site.color.secondary-dark }};

{% include css/bootstrap.min.css %}
{% include css/agency.css %}

*{
	position: relative;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

header{
	min-height: 100%;
	.intro-heading{
		color: $primary;
	}
}