---
---

$primary: #{{ site.color.primary }};
$secondary: #{{ site.color.secondary }};
$secondaryDark: #{{ site.color.secondary-dark }};

{% include css/bootstrap.min.css %}
{% include css/agency.css %}

*{
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

header{
	min-height: 100%;
	.intro-heading{
		color: $primary;
	}
}

.navbar{
  &.navbar-static{
    background: #222;
    margin-bottom:0;
    border-radius:0;
  }
  .navbar-brand{
    margin-bottom:0;
    background-color: rgba(238, 153, 17, 0.15);
  }
}

.breadcrumb{
  border-radius:0;
}

.article-wrap{
  color: #777;
}

.news-posts{
  article{
    border-bottom: 1px solid #ccc;
  }
}

.news-feed{
  iframe{
    width:100%;
  }
}

#contact{
  background-attachment: fixed;
}

@media (min-width: 768px){
  header .container .intro-text{
    padding-top: 100px;
  }
}

.filter-invert{
  -webkit-filter:#{'invert()'};
  -ms-filter:#{'invert()'};
  -opera-filter:#{'invert()'};
  -moz-filter:#{'invert()'};
  filter:#{'invert()'};
}