<div class="col-sm-4 member">
  <div class="team-member">
  {% if member.pic %}
      <img src="{{site.baseurl}}/img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="{{member.name}}">
  {% else %}
      <img src="{{member.email | to_gravatar}}?s=225&d=mm" alt="{{member.name}}">
  {% endif %}
      <h4>{{ member.name }}</h4>
      <p class="text-muted">{{ member.position }}</p>
      {% if member.social %}
      <ul class="list-inline social-buttons">
          {% for network in member.social %}
              {% if network.url %}
                <li>
                  <a target="_blank" href="{{ network.url }}">
                    <i class="fa fa-{{ network.title }}"></i>
                  </a>
                </li>
              {% endif %}
          {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
