<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">{{site.data.[page.lang].contact.title}}</h2>
					<h3 class="section-subheading text-muted">{{site.data.[page.lang].contact.description}}</h3>
					{% for hash in {{site.data.[page.lang].contact.contact_informations}} %}
					{% assign info = hash[1] %}
					<h3 class="section-subheading">{{info.title}} : {{info.value}}</h3>
					{% endfor %}
					<h3 class="section-subheading">{{site.data.[page.lang].contact.address.title}} : <br><br>

					{% for hash in {{site.data.[page.lang].contact.address.lines}} %}
					{% assign line = hash[1] %}
					{{line}}<br>
					{% endfor %}
					</h3>
				</div>
			</div>


				<div>
					<h4 id="test">{{site.data.[page.lang].contact.form_header}}</h4>
				</div>

				<form action="https://formspree.io/cedille@ens.etsmtl.ca" method="POST" onsubmit="validate()" id="contact-form" name="contact-form" class="col-xs-12 bg-light-orange" >
					<div>
						<input type="hidden" name="source" value="contact-form"/>

						<label>Nom *</label>
						<input id="formName" onchange="lockSubmit()" name="nom" type="text" placeholder={{site.data.[page.lang].contact.required}} required/>
						<label>Courriel *</label>
						<input id="formEmail" onchange="lockSubmit()" name="_replyto" type="email" placeholder={{site.data.[page.lang].contact.required}} required/>
						<label>Message *</label>
						<textarea id="formMessage" onchange="lockSubmit()" name="message" placeholder={{site.data.[page.lang].contact.required}} required></textarea>
						<p>
							<br/><input id="formCheckbox" type="checkbox" name="conscentement" id="conscentement"/> Je suis intéressé(e) à m'impliquer dans le club.
						</p>
						<p><button id="submitButton" type="submit"  class="btn btn-primary" disabled>Soumettre</button></p>
					</div>
				</form>
				<!-- <form id="adhesion-form" name="adhesion-form" class="col-xs-12 hidden bg-light-gray" action="http://cedille.etsmtl.ca:8080/" method="post">
					<div>
						<input type="hidden" name="source" value="adhesion-form"/>
						<h4>Demande d'adhésion</h4>
						<p>
							<label>Prénom *</label>
							<input name="prenom" type='text' required/>
							<label>Nom *</label>
							<input name="nom" type='text' required/>
							<label>Courriel *</label>
							<input name="courriel" type='email' required/>
						</p>

						<h5>Formation *</h5>
						<p>
							<label><input type="radio" name="formation" value="Baccalauréat"/> Baccalauréat</label>
							<label><input type="radio" name="formation" value="Maîtrise"/> Maîtrise</label>
							<label><input type="radio" name="formation" value="Doctorat" required/> Doctorat</label>
						</p>

						<h5>Programme d'étude *</h5>
						<p>
							<label><input type="radio" name="programme" value="Génie des technologies de l'information"/>
							Génie des technologies de l'information</label>
							<label><input type="radio" name="programme" value="Génie électrique"/>
							Génie électrique</label>
							<label><input type="radio" name="programme" value="Génie mécanique"/>
							Génie mécanique</label>
							<label><input type="radio" name="programme" value="Génie logiciel"/>
							Génie logiciel</label>
							<label><input type="radio" name="programme" value="Génie des opérations et de la logistique"/>
							Génie des opérations et de la logistique</label>
							<label><input type="radio" name="programme" value="Génie de la construction"/>
							Génie de la construction</label>
							<label><input type="radio" name="programme" value="Génie de la production automatisée" required/>
							Génie de la production automatisée</label>
						</p>
						<h5>Autre : </h5>
						<p><button class="btn btn-primary">Soumettre</button></p>
						 --><!-- API Key: AIzaSyAy-HwVt5J_r50O4xKXFXHaUj1Bwldtz48 -->
					<!-- </div>
				</form> -->

		</div>
	</section>

	<script>
	    function validate() {
	    var name = document.getElementById("formName");
			var email = document.getElementById("formEmail");
			var message = document.getElementById("formMessage");

			if (name.value == "" || email.value == "" || message.value == "") {
				alert("Les champs sont requis");
	      return false;
	    } else {
				alert("Votre message a été envoyé!");
				clearForm();
	      return true;
	    }
	}
	</script>
	<script>
			function lockSubmit() {
			var name = document.getElementById("formName");
			var email = document.getElementById("formEmail");
			var message = document.getElementById("formMessage");
			var subBtn = document.getElementById("submitButton");

			if (name.value == "" || email.value == "" || message.value == "") {
				subBtn.disabled = true;
			} else {
				subBtn.disabled = false;
			}
	}
	</script>

	<script>
			function clearForm() {
			var name = document.getElementById("formName");
			var email = document.getElementById("formEmail");
			var message = document.getElementById("formMessage");
			var chkbox = document.getElementById("formCheckbox");
			var subBtn = document.getElementById("submitButton");

			name.value = "";
			email.value = "";
			message.value = "";
			chkbox.checked = false;
			subBtn.disabled = true;
	}
	</script>
