  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyleft <span class="copyleft">©</span> {{ site.title }}</span>

                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for hash in site.social %}
                        {% assign network = hash[1] %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks hidden">
                        <li><a href="#page-top">Privacy Policy</a>
                        </li>
                        <li><a href="#page-top">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
