{% include navigation.html %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <img class="img-responsive" alt="{{site.title}}" src="{{site.image}}">
                <div class="intro-lead-in hidden">{{ site.data.[page.lang].home.intro }}</div>
                <div class="intro-heading">{{ site.data.[page.lang].home.head }}</div>
                <a href="#about" class="page-scroll btn btn-xl">{{ site.data.[page.lang].home.more }}</a>
            </div>
        </div>
        
    {% if site.photoAttribution %}
        <div class="photo-attribution panel-footer text-muted">
            {{site.photoAttribution.title}} by <a href="{{site.photoAttribution.photoLink}}">{{site.photoAttribution.author}}</a> ( <a href="{{site.photoAttribution.licenseLink}}">{{site.photoAttribution.license}}</a> )
        </div>
    {% endif %}    
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
`
