{% include navigation.html %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">{{ site.data.[page.lang].home.intro }}</div>
                <div class="intro-heading">{{ site.data.[page.lang].home.head }}</div>
                <a href="#about" class="page-scroll btn btn-xl">{{ site.data.[page.lang].home.more }}</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
`
