 <!-- Portfolio Modals -->
 {% for project in site.projects %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            {{project.content}}
                            <ul class="list-inline item-details">
                            {% if project.client %}
                                <li>Client:
                                    <strong>{{ project.client }}
                                    </strong>
                                </li>
                            {% endif %}
                            {% if project.date %}
                                <li>Date:
                                    <strong>{{ project.projectDate }}
                                    </strong>
                                </li>
                            {% endif %}
                            {% if project.category %}
                                <li>Type:
                                    <strong>{{ project.category }}
                                    </strong>
                                </li>
                            {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

 <div class="site-modal modal fade" id="siteModal" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-content">
     <div class="close-modal" data-dismiss="modal">
       <div class="lr">
         <div class="rl">
         </div>
       </div>
     </div>
     <div class="container">
       <div class="row">
         <div class="col-lg-8 col-lg-offset-2">
           <div class="modal-body" style="margin-top:200px;margin-bottom:200px;">
            <p>Pour ajouter votre site veuillez écrire à Cedille ÉTS <a href="mailto:clubcedille@gmail.com" style="cursor:pointer;">clubcedille@gmail.com</a></p>
             <button style="position: absolute; top:10px; left: 100%; margin-left: -200px;" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

