<!-- About Section -->
    <section id="news">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">{{ site.data.[page.lang].news.title }}</h2>
                  <h3 class="section-subheading text-muted">{{ site.data.[page.lang].news.description }}</h3>
              </div>
          </div>
          <div class="col-md-5 news-posts">
                <h3 class="text-muted text-center">{{ site.data.[page.lang].news.blog }}</h3>
            {% for post in site.categories.[page.lang] %}
                <article {% if forloop.first %}class="first"{% endif %}>
                  {% if post.link %}
                    <h2 class="link-post"><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i> <small>{{ post.date | date: '%Y' }}</small></h2>
                  {% else %}
                    <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <small>{{ post.date | date: '%Y' }}</small></h2>
                    <p clas="text-muted">{{ post.excerpt | strip_html | truncate: 160 }}</p>
                  {% endif %}
                </article>
            {% endfor %}
          </div>
          <div class="col-md-5 col-md-offset-2 news-feed">
                <h3 class="text-muted text-center">Facebook</h3>
            <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fclubcedille&amp;width&amp;height=427&amp;colorscheme=light&amp;show_faces=false&amp;header=true&amp;stream=true&amp;show_border=false&amp;appId=727283467298745" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:427px;" allowTransparency="true"></iframe>
          </div>
        </div>
    </section>
