<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{site.data.[page.lang].portfolio.title}}</h2>
                    <h3 class="section-subheading text-muted">{{site.data.[page.lang].portfolio.description}}</h3>
                </div>
            </div>
            <div class="row">
              {% for project in site.projects %}
              {% capture projectName %}{{project.content | newline_to_br | split: "<br />" | first | strip_html }}{% endcapture %}
                <div class="{% if forloop.length < 3 %}col-sm-{{12 | divided_by: forloop.length}}{% else %} col-md-4 col-sm-6 {% endif %} portfolio-item">
                    <a href="#portfolioModal{{forloop.index}}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{site.baseurl}}/img/portfolio/{{project.thumb}}" alt="{{projectName}}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{projectName}}</h4>
                        <p class="text-muted">{{project.category}}</p>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
    </section>
