<!-- Portfolio Grid Section -->
    <link rel="stylesheet" href="../css/style.scss">
<section id="sites" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{site.data.[page.lang].sites.title}}</h2>
                    <h3 class="section-subheading text-muted">{{site.data.[page.lang].sites.description}}</h3>
                </div>
            </div>
            <div class="row">
              {% for siteObj in site.sites %}
                <div class="{% if forloop.length < 3 %}col-sm-{{12 | divided_by: forloop.length}}{% else %} col-md-4 col-sm-6 {% endif %} site-item">
                  <a href="{{siteObj.href}}" target="_blank" rel="noreferrer" class="site-link">
                    <img src="{{siteObj.baseurl}}/img/sites/{{siteObj.thumb}}" alt="{{siteObj.name}}" class="img-responsive" alt="{{siteObj.alt}}">
                  </a>
                  <div class="site-caption">
                      <a href="{{siteObj.href}}" target="_blank" rel="noreferrer"><strong>{{siteObj.name}}</strong></a>
                    </div>
                </div>
              {% endfor %}
              <div class=" col-md-4 col-sm-6  site-item">
                <a href="https://docs.google.com/forms/d/1T-Za9qUwbWHWWw3c4Jg5cn6hqOPlko6VCk34UjnoTdA" class="site-link" target="blank" data-toggle="modal">
                  <div class="site-hover portfolio-hover">
                    <div class="site-hover-content portfolio-hover-content">
                      <i class="fa fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="/img/sites/votre_site_thumb.jpg" alt="Votre site" class="img-responsive">
                </a>
                <div class="site-caption" style="max-height:71px;">
                  <p><strong>Remplir une demande d'hébergement...</strong></p>
                </div>
              </div>
            </div>
        </div>
    </section>
