---
staticNavbar: true
---
<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include navigation.html %}
    
    {% include breadcrumbs.html %}

    {% if page.image.feature %}
      <div class="image-wrap">
      <img src=
        {% if page.image.feature contains 'http' %}
          "{{ page.image.feature }}"
        {% else %}
          "{{ site.url }}/images/{{ page.image.feature }}"
        {% endif %}
      alt="{{ page.title }} feature image">
      {% if page.image.credit %}
        <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
      {% endif %}
      </div><!-- /.image-wrap -->
    {% endif %}

    <div id="main" class="container" role="main">
      <article>
        <div class="headline-wrap">
          {% if page.link %}
            <h1><a href="{{ page.link }}">{{ page.title }}</a></h1>
          {% else %}
            <h1><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
          {% endif %}
        </div><!--/ .headline-wrap -->
        <div class="article-wrap">
          {{ content }}
          <hr />
          <footer role="contentinfo">
            <p class="byline"><strong>{{ page.title }}</strong> was published on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}.</p>
          </footer>
        </div><!-- /.article-wrap -->
      </article>
    </div><!-- /#main -->

    {% include footer.html %}
    {% include js.html %}

    </body>
</html>
