---
staticNavbar: true
---
<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index">

    {% include navigation.html %}
    {% include breadcrumbs.html %}

    <div id="main" class="container" role="main">
      <div class="col-md-12 news-posts">
        {% for post in site.posts %}
          {% unless post.next %}
            <h3 class="text-muted">{{ post.date | date: '%Y' }}</h3>
            {% else %}
              {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
              {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
              {% if year != nyear %}
                <h3 class="text-muted">{{ post.date | date: '%Y' }}</h3>
              {% endif %}
            {% endunless %}
            <article {% if forloop.first %}class="first"{% endif %}>
              {% if post.link %}
                <h2 class="link-post"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></h2>
              {% else %}
                <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
                <p clas="text-muted">{{ post.excerpt | strip_html | truncate: 160 }}</p>
              {% endif %}
            </article>
        {% endfor %}
      </div>
    </div><!-- /#main -->

    {% include footer.html %}
    {% include js.html %}

    </body>
</html>
